@import '~antd/dist/antd.css';
#app{
    position: relative;
    padding-top: 50px;
}
header{
    position: fixed;
    top: 0;
    z-index: 9;
    height: 60px;
}
header nav{
  width: 84%;
  margin: 0 auto;
}
header.header.container-full h1 {
    color: #fff;
    font-size: 36px;
    padding: 10px 0px;
    font-weight: 400;
}
header nav .anticon.anticon-bars{
  font-size: 30px;
  color: #fff;
  float: left;
  margin-top: 10px;
}
.ant-steps{
    padding: 15px;
}
.steps-content{
    margin-bottom: 150px;
}
#form-qanda{

    width: 100%;
    margin: auto;

}
.container-full {
  width: 100%;
  background: #567ba6;
}
.container-full .navbar-default{
  background: rgba(0,0,0,0);
  border: none;
  border-radius: 0;
}
.q-container {
    overflow: hidden;
}
.q-container .ant-form-item-label{
  float: left;
}
.q-container .ant-form-item-control-wrapper{
  float: left;
}
.q-container .ant-row.ant-form-item{
  margin-bottom: 0 !important;
  float: left;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer .container p{
      color: #fff;
      text-align: center;
      margin-top: 10px;
}

#root .container .col-lg-12 {
    margin-top: 50px;
}
i.anticon::before,
i.anticon::after {
    display: none;
}
.header a img {
    margin-top: 10px;
}
.ant-form-item-label label {
    margin: 0;
}
.row .col-sm-12 .col-sm-3 .ant-form-item {
    margin: 0;
}
.row .col-sm-12 button {
    margin-left: 15px;
    margin-top: 20px;
}
#root .container .col-lg-12 .steps-content {
    padding: 0 15px;
}
.steps-content .form-qanda .row .col-sm-12 button {
    margin-left: 0;
}







/* new  */

form#profile-form .patient-info .patient-detail .patient-info-left .patient-address {
    overflow: hidden;
    width: 100%;
}
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.city,
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.state,
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.zipcode {
    float: left;
}
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.city {
    width: 35%;
    padding-right: 10px;
}
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.state,
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.zipcode {
    width: 32%;
}
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.zipcode {
    padding-left: 10px;
}
form#profile-form .patient-info .patient-detail .patient-info-left {
    width: 60%;
    float: left;
    padding-right: 15px;
}
form#profile-form .patient-info .patient-detail .patient-info-right .patient-info-dob {
     width: 75%;
}
form#profile-form .patient-info .patient-detail .patient-info-right .patient-info-dob .ant-form-item-label{
    margin-right: 60px;
}
form#profile-form .ant-row.ant-form-item.dob .ant-form-item-control-wrapper #patientDob{
    width: 200px;
}
form#profile-form .patient-info .patient-detail .patient-info-right {
    width: 40%;
    float: left;
    padding-left: 15px;
    margin-top: 44px;
}
form#profile-form .patient-info .patient-detail {
    border: solid 1px #ddd;
    overflow: hidden;
    padding: 15px;
}
form#profile-form .patient-info {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
/* form#profile-form {
    padding: 0 40px;
} */
form#profile-form .insurance-details .save-changes {
    margin: 20px;
}
form#profile-form .insurance-details .insurance-det h1 {
    background-color: #ccc;
    display: inline-block;
    padding: 5px;
    left: 40px;
    position: absolute;
    top: -20px;
}
form#profile-form .insurance-details .insurance-det .insurance-information {
    width: 40%;
    float: left;
    padding-right: 20px;
} 

form#profile-form .insurance-details .insurance-det .patient-address,
form#profile-form .insurance-details .insurance-det .patient-phone-insured {
    overflow: hidden;
    width: 100%;
}
form#profile-form .insurance-details .ant-row.ant-form-item.city,
form#profile-form .insurance-details .ant-row.ant-form-item.state,
form#profile-form .insurance-details .ant-row.ant-form-item.zipcode,
form#profile-form .insurance-details .ant-row.ant-form-item.phone,
form#profile-form .insurance-details .ant-row.ant-form-item.insured {
    float: left;
}
form#profile-form .insurance-details .ant-row.ant-form-item.city {
    width: 40%;
    padding-right: 10px;
}
form#profile-form .insurance-details .ant-row.ant-form-item.state,
form#profile-form .insurance-details .ant-row.ant-form-item.zipcode {
    width: 30%;
}
form#profile-form .insurance-details .ant-row.ant-form-item.zipcode {
    padding-left: 10px;
}
form#profile-form .insurance-details .ant-row.ant-form-item.phone,
form#profile-form .insurance-details .ant-row.ant-form-item.insured { 
    width: 50%;
}
form#profile-form .insurance-details .ant-row.ant-form-item.insured {
    padding-left: 20px;
}
form#profile-form .insurance-details .insurance-det {
    /* padding: 15px; */
    overflow: hidden;
}
form#profile-form .insurance-details {
    /* border: solid 1px #000;
    position: relative; */
}
form#profile-form .ant-row.ant-form-item {
    margin-bottom: 5px;
}
form#profile-form .ant-row.ant-form-item .ant-form-item-label {
    margin-right: 5px;
    float: left;
}
form#profile-form .ant-row.ant-form-item .ant-form-item-control-wrapper {
    overflow: hidden;
}





.main-page-bg .insurance-information .ant-row.ant-form-item {
    width: 100%;
}
.main-page-bg .ant-row.ant-form-item {
    /* width: 40%; */
}
.main-page-bg .ant-row.ant-form-item.patient-relation {
    width: 100%;
}
.main-page-bg .patient-info-right .ant-row.ant-form-item.marital-status,
.main-page-bg .patient-info-right .ant-row.ant-form-item.dob {
    width: 100%;
}
.main-page-bg span.ant-form-item-children,
.main-page-bg .css-10nd86i {
    width: 100%;
    display: block;
}
.ploicy-container form .policy-filter .ant-form-item{
    margin-right: 20px;
    width: 210px;
}
#filters .ant-form-item{
    margin-bottom: 0px;
    margin-top: 10px;
}
#filters .ant-form-item .ant-form-item-control-wrapper{
    display: inline-block;
    width: 170px;
    float: right;
}
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address {
    overflow: hidden;
    width: 100%;
}
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.city,
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.state,
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.zipcode {
    float: left;
}
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.city {
    width: 46%;
    padding-right: 10px;
}
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.state,
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.zipcode {
    width: 27%;
}
form#profile-form .patient-info .patient-detail .patient-info-left .patient-address .ant-row.ant-form-item.zipcode {
    padding-left: 10px;
}
form#profile-form .patient-info .patient-detail .patient-info-left {
    width: 60%;
    float: left;
    padding-right: 15px;
}
form#profile-form .patient-info .patient-detail .patient-info-right .patient-info-dob {
    width: 100%;
}
form#profile-form .patient-info .patient-detail .patient-info-right {
    width: 40%;
    float: left;
    padding-left: 15px;
}
form#profile-form .patient-info .patient-detail {
    border: solid 1px #ddd;
    overflow: hidden;
    padding: 15px;
}
form#profile-form .patient-info {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
form#profile-form .save-changes {
    margin-top: 10px;
    float: right;
    padding: 10px 32px;
    font-weight: bold;
    background-color: #1890ff;
    border: solid 1px #1890ff;
    color: #fff;
}
form#profile-form .insurance-details .insurance-det h1 {
    background-color: #ccc;
    display: inline-block;
    padding: 5px;
    left: 40px;
    position: absolute;
    top: -20px;
}
form#profile-form .insurance-details .insurance-det .insurance-information {
    width: 35%;
    float: left;
    padding-right: 20px;
} 
form#profile-form .insurance-details .insurance-det .insured-contact {
    width: 64%;
    float: right;
    position: relative;
}
form#profile-form .insurance-details .insurance-det .patient-address,
form#profile-form .insurance-details .insurance-det .patient-phone-insured {
    overflow: hidden;
    width: 100%;
}
form#profile-form .insurance-details .ant-row.ant-form-item.city,
form#profile-form .insurance-details .ant-row.ant-form-item.state,
form#profile-form .insurance-details .ant-row.ant-form-item.zipcode,
form#profile-form .insurance-details .ant-row.ant-form-item.phone,
form#profile-form .insurance-details .ant-row.ant-form-item.insured {
    float: left;
}
form#profile-form .insurance-details .ant-row.ant-form-item.city {
    width: 40%;
    padding-right: 10px;
}
form#profile-form .insurance-details .ant-row.ant-form-item.state,
form#profile-form .insurance-details .ant-row.ant-form-item.zipcode {
    width: 30%;
}
form#profile-form .insurance-details .ant-row.ant-form-item.zipcode {
    padding-left: 10px;
}
form#profile-form .insurance-details .ant-row.ant-form-item.phone,
form#profile-form .insurance-details .ant-row.ant-form-item.insured { 
    width: 50%;
}
form#profile-form .insurance-details .ant-row.ant-form-item.insured {
    padding-left: 20px;
}
form#profile-form .ant-row.ant-form-item {
    margin-bottom: 5px;
}
form#profile-form .ant-row.ant-form-item .ant-form-item-label {
    margin-right: 5px;
    float: left;
}
form#profile-form .ant-row.ant-form-item .ant-form-item-control-wrapper {
    overflow: hidden;
}

.profile-form-container {
    float: unset;
    overflow: hidden;
    width: 100%;
}
.selection-buttons .patient-select-list .ant-row.ant-form-item{
    margin-bottom: 5px;
    float: right;
    width: 300px;
}

/* .selection-buttons .title-patient-info {
    display: inline-block;
    width: 23%;
} */
.selection-buttons .patient-select-list {
    display: inline-block;
    width: 77%;
}
.selection-buttons .report-policy {
    width: 200px;
    float: left;
    margin-top: 20px;
}


.main-page-bg .ant-row.ant-form-item.patient-name {
    width: 65%;
}
.main-page-bg .ant-row.ant-form-item.street-address,
.main-page-bg .ant-row.ant-form-item.transportation {
    width: 100%;
}
.main-page-bg .ant-row.ant-form-item.home-address {
    width: 100%;
}
form#profile-form .insurance-details .insurance-det .insured-contact .f-l-name {
    overflow: hidden;
}

form#profile-form .insurance-details .insurance-det .insured-contact .f-l-name .lname,
form#profile-form .insurance-details .insurance-det .insured-contact .f-l-name .fname {
    /* float: left; */
}
form#profile-form .insurance-details .insurance-det .insured-contact .f-l-name .lname {
    margin-right: 10px;
}
.ant-modal-wrap  .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns {
    display: none;
}
.ant-modal-wrap .ant-modal-confirm .ant-modal-body {
    padding: 60px 32px 45px 32px;
}
.ant-modal-wrap.ant-modal-centered.ant-modal-confirm-centered .ant-modal.ant-modal-confirm.ant-modal-confirm-success {
    width: 480px !important;
}
.ant-modal-wrap .ant-modal-confirm-body span.ant-modal-confirm-title {
    height: 30px;
}



.main-page-bg .ant-row.ant-form-item.mrnumber,
.main-page-bg .ant-row.ant-form-item.homephone,
.main-page-bg .ant-row.ant-form-item.cellphone {
    width: 100%;
}
.main-page-bg .ant-row.ant-form-item.emailaddress {
    width: 100%;
}
.main-page-bg .patient-info-right .ant-row.ant-form-item.cellphone .ant-form-item-label {
    margin-right: 27px !important;
}
.main-page-bg .patient-info-right .ant-row.ant-form-item.homephone .ant-form-item-label {
    margin-right: 12px !important;
}
.main-page-bg .patient-info-right .ant-row.ant-form-item.mrnumber .ant-form-item-label {
    margin-right: 16px !important;
}

form#profile-form .insurance-details .insurance-det .insurance-information,
form#profile-form .insurance-details .insurance-det .insured-contact {
    border: solid 1px #ddd;
    padding: 15px;
    min-height: 300px;
}


form#profile-form .mainpage-right-side .ant-row.ant-form-item .ant-form-item-label {
    float: none;
}


.table-form-data table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.table-form-data table td, 
.table-form-data table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.full-width-area .mainpage-right-side {
    padding-left: 10px !important;
    
}
.full-width-area .mainpage-right-side .emergancy-contact {
    border: solid 1px #ddd;
    padding: 15px;
}

form#profile-form .patient-info .patient-detail .patient-info-right .patient-info-dob .ant-row.ant-form-item.age {
    width: 35%;
}
form#profile-form .patient-info .patient-detail .patient-info-right .patient-info-dob .ant-row.ant-form-item.age .ant-form-item-label {
    margin-right: 14px;
}

.main-page-bg .patient-info-left .ant-row.ant-form-item.patientLName {
    width: 48%;
    display: inline-block;
}
.main-page-bg .patient-info-left .ant-row.ant-form-item.patientLName.lastname {
    margin-right: 17px;
}
.main-page-bg .patient-info-left .ant-row.ant-form-item.ssn {
    width: 50%;
}
.patient-detail .patient-info-left > div {
    width: 840px;
}